
.filter-items {
    input[type="checkbox"] {
        position: absolute;
        left: -15px;
        display: none;
      }

      input[type="checkbox"] + label {
        position: relative;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding: 2px 12px;
      }

      input[type="checkbox"] + label:before {
        width: 30px;
        height: 30px;
        border: 1px solid var(--foreground-color);
        background-color: var(--primary);
        content: "";
        margin-right: 15px;
        transition: background-color 0.5s linear;
      }

    //   input[type="checkbox"] + label:after {
    //     width: 30px;
    //     height: 30px;
    //     background-color: #fff;
    //     content: "";
    //     transition: margin 0.1s linear;
    //     position: absolute;
    //     top: 4px;
    //   }

      input[type="checkbox"]:checked + label:before {
        background-color: var(--primary-color);
      }

      input[type="checkbox"]:checked + label:after {
        margin: 0 0 0 15px;
      }

}



// input[type="checkbox"] {
//     position: absolute;
//     left: -15px;
//     display: none;
//   }

//   input[type="checkbox"] + label {
//     position: relative;
//     display: inline-flex;
//     align-items: center;
//     cursor: pointer;
//   }

//   input[type="checkbox"] + label:before {
//     width: 45px;
//     height: 30px;
//     border: 2px solid var(--tva-primary);
//     background-color: var(--primary);
//     content: "";
//     margin-right: 15px;
//     transition: background-color 0.5s linear;
//     margin-top: 4px;
//   }

//   input[type="checkbox"] + label:after {
//     width: 30px;
//     height: 30px;
//     background-color: #fff;
//     content: "";
//     transition: margin 0.1s linear;
//     position: absolute;
//     top: 4px;
//   }

//   input[type="checkbox"]:checked + label:before {
//     background-color: var(--primary-color);
//   }

//   input[type="checkbox"]:checked + label:after {
//     margin: 0 0 0 15px;
//   }
