.hero-section {
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
}

.hero-section.thumb-list {
    display: flex;
    flex-direction: column;
    margin-right: 4px;
    min-width: 120px;
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
    max-height: 480px;
}

.hero-section.thumb-list.thumb-frame {
    border: 2px solid transparent;
    background: #f2f2f2;
    width: 120px;
    max-height: 120px;
}

.thumb-frame.active {
    .tva-image-subpage-thumb {
        border-color: var(--primary-color);
    }
}

.tva-image-subpage {
    border-radius: 0;
    width: 100%;
    border: var(--border);
    border-left: var(--border);
    border-bottom: var(--border);
    border-top: none;
}

.tva-image-subpage-thumb {
    border-bottom: var(--border);
    border-top: none;
}

